cmake==4.2.1
fqdn==1.5.1
isoduration==20.11.0
jsonpointer==3.0.0
ninja==1.13.0
notebook==7.5.2
pip==25.3
py-yuclid==3.0.0
pysum==0.1.1
pytz==2025.2
rfc3987-syntax==1.1.0
seaborn==0.13.2
tinycss2==1.4.0
uri-template==1.3.0
webcolors==25.10.0
wheel==0.46.2
